nav ul li{
    float: left;
    position: relative;
}
nav ul li a {
    background-color: #fff;
    padding: 5px 20px;
    display: block;
}
nav ul li:hover a{
    // background: #34495a;
}
nav ul ul {
    position: absolute;
    top: 100%;
    left: -30px;
    padding: 0px;
    min-width: 160px;
    display: none ;
}
nav ul li:hover ul{
    display: block;
}